<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type='py.pol.una.ii.pw.model.Customer' alias='Customer'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.Product' alias='Product'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.Provider' alias='Provider'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.Pago' alias='Pago'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.Compra' alias='Compra'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.Venta' alias='Venta'></typeAlias>
        <typeAlias type='py.pol.una.ii.pw.model.ProductoComprado' alias='ProductoComprado'></typeAlias>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:jboss/datasources/EjbJaxRSDS"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/CustomerMapper.xml"/>
        <mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/ProviderMapper.xml"/>
        <mapper resource="mappers/PagoMapper.xml"/>
        <mapper resource="mappers/VentaMasivaMapper.xml"/>
        <mapper resource="mappers/CompraMasivaMapper.xml"/>
    </mappers>
</configuration>