<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="py.pol.una.ii.pw.mappers.CompraMasivaMapper">


    <resultMap id="CompraResult" type="Compra">
        <id property="id" column="id_compra"></id>
        <association property="provider" resultMap="ProviderResult"></association>
        <collection property="productos" ofType="ArrayList" resultMap="ProductoCompradoResult"></collection>
    </resultMap>

    <resultMap id="ProviderResult" type="Provider">
        <id property="id" column="id_provider"></id>
        <result property="name" column="name_provider"></result>
        <result property="email" column="email_provider"></result>
        <result property="phoneNumber" column="phone_number_provider"></result>
    </resultMap>

    <resultMap id="ProductoCompradoResult" type="ProductoComprado">
        <id property="id" column="id_producto_comprado"></id>
        <result property="cantidad" column="cantidad_producto_comprado"></result>
        <association property="producto" resultMap="ProductResult"></association>
    </resultMap>

    <resultMap id="ProductResult" type="Product">
        <id property="id" column="id_product"></id>
        <result property="name" column="name_product"></result>
        <result property="price" column="price_value_product"></result>
        <result property="descripcion" column="descripcion_product"></result>
    </resultMap>


    <select id='findAll' resultMap="CompraResult">
        SELECT c.id as id_compra, pr.id as id_provider, pr.name as name_provider, pr.email as email_provider,pr.phone_number as phone_number_provider,
        pc.id as id_producto_comprado,pc.cantidad as cantidad_producto_comprado,pc.producto as id_product,
        p.descripcion as descripcion_product,p.name as name_product,p.price_value as price_value_product
        FROM compra c left outer join  provider pr on c.id_provider = pr.id
        left outer join compras_productos on compras_productos.id_compra = c.id
        left outer join productocomprado pc on pc.id = compras_productos.id_productocomprado
        left outer join product p on pc.producto = p.id
    </select>

    <select id='findById' resultMap="CompraResult">
        SELECT c.id as id_compra, pr.id as id_provider, pr.name as name_provider, pr.email as email_provider,pr.phone_number as phone_number_provider,
        pc.id as id_producto_comprado,pc.cantidad as cantidad_producto_comprado,pc.producto as id_product,
        p.descripcion as descripcion_product,p.name as name_product,p.price_value as price_value_product
        FROM compra c left outer join  provider pr on c.id_provider = pr.id
        left outer join compras_productos on compras_productos.id_compra = c.id
        left outer join productocomprado pc on pc.id = compras_productos.id_productocomprado
        left outer join product p on pc.producto = p.id
        Where c.id = #{id}

    </select>

    <select id='listar' parameterType="map" resultMap="CompraResult">
        SELECT c.id as id_compra, pr.id as id_provider, pr.name as name_provider, pr.email as email_provider,pr.phone_number as phone_number_provider,
        pc.id as id_producto_comprado,pc.cantidad as cantidad_producto_comprado,pc.producto as id_product,
        p.descripcion as descripcion_product,p.name as name_product,p.price_value as price_value_product
        FROM (select * from compra limit #{cantidad} offset #{inicio}) as c
        left outer join provider pr on c.id_provider = pr.id
        left outer join compras_productos on compras_productos.id_compra = c.id
        left outer join productocomprado pc on pc.id = compras_productos.id_productocomprado
        left outer join product p on pc.producto = p.id
    </select>


    <select id='getTamanoLista' resultType="int">
        SELECT count(u) FROM Compra u
    </select>

    <insert id='insert' parameterType='Compra' useGeneratedKeys="true" keyProperty='id'>
        INSERT INTO COMPRA (id_provider)
        VALUES(#{provider.id})
    </insert>

    <delete id='delete' parameterType='long'>
        DELETE FROM COMPRA WHERE id = #{id}
    </delete>

    <insert id='insertProductComprado' parameterType='ProductoComprado' useGeneratedKeys="true" keyProperty='id'>
        INSERT INTO PRODUCTOCOMPRADO(producto,cantidad)
        VALUES(#{producto.id},#{cantidad})
    </insert>

    <insert id='insertProduct' parameterType='map' >
        INSERT INTO COMPRAS_PRODUCTOS (id_compra, id_productocomprado)
        VALUES (#{id_compra}, #{id_productocomprado});
    </insert>






</mapper>